nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: fixed;
  width: 100%;
  height: 10vh;
  padding: 0 1.875em;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 10;
}

nav .menu-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .menu-mobile .hire-button {
  display: inline-block;
  font-size: 0.75em;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.08333em;
  color: #ffffff;
  background-color: #0054FF;
  padding: 0.41667em 0.83333em;
  margin-right: 1.25em;
  border-radius: 0.41667em;
}

nav .menu-mobile .menu-badge {
  cursor: pointer;
}

.nav-links {
  position: fixed;
  z-index: 10;
  background: #0054ff;
  background: linear-gradient(199deg, #0054ff 0%, #6737fe 65%);
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-clip-path: circle(100px at 100% -20%);
          clip-path: circle(100px at 100% -20%);
  -webkit-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;
  pointer-events: none;
}

.nav-links .menu {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav-links .menu a {
  color: #ffffff;
  font-size: 3.125em;
  font-weight: 700;
}

.nav-links .cancel {
  position: absolute;
  top: 1.875em;
  right: 1.875em;
  cursor: pointer;
}

.open {
  -webkit-clip-path: circle(1200px at 100% -20%);
          clip-path: circle(1200px at 100% -20%);
  pointer-events: all;
}

#home {
  background-image: url(../img/home-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  height: 100vh;
  padding: 0 1.875em;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1.7fr 2.2fr 2fr;
      grid-template-rows: 1.7fr 2.2fr 2fr;
      grid-template-areas: "about-me" "heading" "scroll";
}

#home .content {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: about-me;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 2.5em;
  position: relative;
}

#home .content .name {
  color: #202020;
  font-size: 1.375em;
  font-weight: 400;
  margin-bottom: 0.09091em;
}

#home .content .my-job {
  color: #333333;
  font-size: 0.8125em;
  font-weight: 300;
}

#home .home-heading {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: heading;
}

#home .home-heading .purple-line {
  width: 9.375em;
  height: 0.1875em;
  background-color: #6A36FE;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#home .home-heading .heading {
  margin-top: 1.25em;
  color: #202020;
  font-size: 2.1875em;
  position: relative;
}

#home .scroll-action {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: scroll;
  position: relative;
}

#home .scroll-action .scroll-text {
  color: #ffffff;
  font-size: 1.125em;
  font-weight: 300;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-top: 3.125em;
}

#home .scroll-action .white-line {
  width: 0.09375em;
  height: 5.625em;
  background-color: white;
  margin-top: 3.125em;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#home .scroll-action .scroll-circle {
  animation: circleScrollAnimMobile 1.3s infinite alternate-reverse;
}

@-webkit-keyframes circleScrollAnimMobile {
  to {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes circleScrollAnimMobile {
  to {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

#work {
  background-image: url(../img/work-bg.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr 1fr 1fr;
      grid-template-rows: 2fr 1fr 1fr;
      grid-template-areas: "work-heading" "site-showcase" "show-more";
}

#work .work-heading {
  font-size: 2.1875em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #202020;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: work-heading;
  margin-top: 2.85714em;
}

#work .site-showcase {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: site-showcase;
}

#work .site-showcase .laptop {
  margin-left: -0.3125em;
  margin-top: -4.375em;
}

#work .show-more-button {
  font-size: 1.0625em;
  font-weight: 700;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: show-more;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 4.70588em;
  padding: 0.88235em 1.17647em;
  background-color: #0054FF;
  color: #ffffff;
  border-radius: 0.29412em;
}

#about {
  height: 100vh;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1.5fr .5fr 3fr;
      grid-template-rows: 1.5fr .5fr 3fr;
      grid-template-areas: "about-heading" "about-button" "about-cards";
}

#about .about-heading {
  font-size: 1.375em;
  color: #202020;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: about-heading;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin-bottom: 1.36364em;
}

#about .learn-more-button {
  font-size: 1.0625em;
  font-weight: 700;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: about-button;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #0054FF;
  color: #ffffff;
  border-radius: 0.3125em;
  padding: 0.58824em 1.17647em;
}

#about .about-cards-holder {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: about-cards;
  position: relative;
}

#about .UI-card {
  width: 80%;
  height: 380px;
  text-align: center;
  background-color: #A294FD;
  border-radius: 0.3125em;
  position: absolute;
  bottom: -3.125em;
  left: 50%;
  z-index: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#about .UI-card .UI {
  font-size: 1.25em;
  font-weight: 700;
  display: inline-block;
  color: #202020;
  margin: 2.5em 0 3em 0;
  padding: 0 1em 1em 1em;
  border-bottom: 2px solid white;
}

#about .UI-card .UI-desc {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5625em;
  color: #333333;
  padding: 0 2.5em;
}

#about .frontend-card {
  width: 80%;
  height: 380px;
  text-align: center;
  background-color: #A294FD;
  border-radius: 0.3125em;
  position: absolute;
  bottom: -3.125em;
  left: 50%;
  z-index: -1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#about .frontend-card .frontend {
  font-size: 1.25em;
  font-weight: 700;
  display: inline-block;
  color: #202020;
  margin: 2.5em 0 3em 0;
  padding: 0 1em 1em 1em;
  border-bottom: 2px solid white;
}

#about .frontend-card .frontend-desc {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5625em;
  color: #333333;
  padding: 0 2.5em;
}

#about .logo-card {
  width: 80%;
  height: 380px;
  text-align: center;
  background-color: #A294FD;
  border-radius: 0.3125em;
  position: absolute;
  bottom: -3.125em;
  left: 50%;
  z-index: -1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#about .logo-card .logo {
  font-size: 1.25em;
  font-weight: 700;
  display: inline-block;
  color: #202020;
  margin: 2.5em 0 3em 0;
  padding: 0 1em 1em 1em;
  border-bottom: 2px solid white;
}

#about .logo-card .logo-desc {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5625em;
  color: #333333;
  padding: 0 2.5em;
}

#about .overlap-background {
  z-index: 1;
}

.switchers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  z-index: 2;
  position: absolute;
  top: 90%;
  left: 40%;
  -webkit-transform: translate(-40% -90%);
          transform: translate(-40% -90%);
}

.switchers .UI-switch {
  background-color: white;
  border-radius: 50%;
  border: 3px solid white;
  width: 1.125em;
  height: 1.125em;
  margin-right: 0.5em;
}

.switchers .frontend-switch {
  background-color: white;
  border-radius: 50%;
  border: 3px solid white;
  width: 1.125em;
  height: 1.125em;
  margin-right: 0.5em;
}

.switchers .logo-switch {
  background-color: white;
  border-radius: 50%;
  border: 3px solid white;
  width: 1.125em;
  height: 1.125em;
  margin-right: 0.5em;
}

.switchers .switch-active {
  background-color: #6A36FE;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */