@import 'mixins';
@import 'variables';

#about {
    height: 100vh;

    overflow: hidden;

    position: relative;

    .about-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-between;

        height: 80vh;

        margin-top: 20vh;
    }

    .about-heading {
        font-size: em(22);

        color: $main-font-color;

        grid-area: about-heading;

        max-width: 80%;

        position: relative;

        margin-bottom: em(60, 22);
        margin-left: auto;
        margin-right: auto;
    }

    .learn-more-button {
        font-size: em(17);
        font-weight: $bold;

        grid-area: about-button;
        justify-self: center;
        align-self: center;

        background-color: $main-blue;
        color: $contrast-font-color;

        position: relative;

        border-radius: em(5);

        padding: em(10, 17) em(20, 17);
    }

    .about-cards-holder {
        grid-area: about-cards;

        position: relative;
    }

    .UI-card {
        width: 80%;
        min-height: em(400);

        margin-left: auto;
        margin-right: auto;

        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;

        text-align: center;

        background-color: $light-purple;

        border-radius: em(5);

        .UI {
            font-size: em(20);
            font-weight: $bold;

            display: inline-block;

            color: $main-font-color;

            margin: em(50, 20) 0 em(60, 20) 0;
            padding: 0 em(20, 20) em(20, 20) em(20, 20);

            border-bottom: 2px solid white;
        }

        .UI-desc {
            font-size: em(16);
            font-weight: $regular;

            line-height: em(25, 16);

            color: $sub-font-color;

            padding: 0 em(40, 16);
        }
    }

    .frontend-card {
        width: 80%;
        min-height: em(400);

        margin-left: auto;
        margin-right: auto;

        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;


        text-align: center;

        background-color: $light-purple;

        border-radius: em(5);


        .frontend {
            font-size: em(20);
            font-weight: $bold;

            display: inline-block;

            color: $main-font-color;

            margin: em(50, 20) 0 em(60, 20) 0;
            padding: 0 em(20, 20) em(20, 20) em(20, 20);

            border-bottom: 2px solid white;
        }

        .frontend-desc {
            font-size: em(16);
            font-weight: $regular;

            line-height: em(25, 16);

            color: $sub-font-color;

            padding: 0 em(40, 16);
        }
    }

    .logo-card {
        width: 80%;
        min-height: em(400);

        margin-right: 0;

        position: relative;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;

        text-align: center;

        background-color: $light-purple;

        border-radius: em(5);



        .logo {
            font-size: em(20);
            font-weight: $bold;

            display: inline-block;

            color: $main-font-color;

            margin: em(50, 20) 0 em(60, 20) 0;
            padding: 0 em(20, 20) em(20, 20) em(20, 20);

            border-bottom: 2px solid white;
        }

        .logo-desc {
            font-size: em(16);
            font-weight: $regular;

            line-height: em(25, 16);

            color: $sub-font-color;

            padding: 0 em(40, 16);
        }
    }

    .overlap-background {
        z-index: 2;

        width: 100%;

        position: relative;
        bottom: 10%;
    }

    .overlap-background-tablet {
        visibility: hidden;
    }
}

.switchers {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 20px;

    position: relative;
    z-index: 3;

    bottom: 12%;
    transform: translateY(-12%);

    width: 100%;

    .UI-switch {
        background-color: white;

        border-radius: 50%;
        border: 3px solid white;

        width: em(22);
        height: em(22);
    }

    .frontend-switch {
        background-color: white;

        border-radius: 50%;
        border: 3px solid white;

        width: em(22);
        height: em(22);
    }

    .logo-switch {
        background-color: white;

        border-radius: 50%;
        border: 3px solid white;

        width: em(22);
        height: em(22);
    }

    .switch-active {
        background-color: $main-purple;
    }
}

@media screen and (min-width: 1194px) {
    #about {
        .overlap-background {
            display: none;
        }

        .overlap-background-tablet {
            visibility: visible;

            position: absolute;
            left: 0;
            bottom: 0;

            z-index: 2;
        }

        .about-content {
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-start;
            justify-content: center;

            gap: em(60);

            max-width: 80%;

            margin-left: auto;
            margin-right: auto;


            .purple-line-about {
                width: em(3);
                height: em(120);
                background-color: $main-purple;
            }

            .about-heading {
                text-align: left;
                align-self: center;

                font-size: em(40);
                max-width: 58%;

                margin: 0;
            }
        }

        .UI-card,
        .frontend-card,
        .logo-card {
            min-height: em(430);
            width: 70%;
        }


        .UI-card {
            .UI {
                font-size: em(35);
                margin: em(70, 35) 0 em(20, 35) 0;
                padding: 0 0 em(30, 35) 0;
            }

            .UI-desc {
                font-size: em(20);
                width: 75%;

                margin-left: auto;
                margin-right: auto;
            }
        }

        .frontend-card {
            .frontend {
                font-size: em(35);
                margin: em(70, 35) 0 em(20, 35) 0;
                padding: 0 0 em(30, 35) 0;
            }

            .frontend-desc {
                font-size: em(20);
                width: 75%;

                margin-left: auto;
                margin-right: auto;
            }
        }

        .logo-card {
            .logo {
                font-size: em(35);
                margin: em(70, 35) 0 em(20, 35) 0;
                padding: 0 0 em(30, 35) 0;
            }

            .logo-desc {
                font-size: em(20);
                width: 75%;

                margin-left: auto;
                margin-right: auto;
            }
        }

        .switchers {
            bottom: 15%;
            transform: translateY(-15%);
        }
    }
}