@import 'mixins';
@import 'variables';

#hire {
    background-image: url(../img/hire-bg-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    position: relative;

    overflow: hidden;

    height: 100vh;

    padding: 0;

    display: grid;
    grid-template-rows: 2fr 2fr .2fr;
    grid-template-areas:
        "hire-heading"
        "hire-form"
        "footer";

    .hire-heading {
        grid-area: hire-heading;

        font-size: em(25);
        text-align: left;

        margin: auto;
        max-width: 70%;
        padding-left: em(20, 25);

        border-left: 3px solid $main-purple;

        color: $main-font-color;

        position: relative;
        top: 20%;
    }

    .hire-form {
        grid-area: hire-form;

        background-color: rgba($light-purple, .95);

        border-radius: em(6);

        padding: em(10) 0 em(60) 0;
        margin: 0 em(30) em(0) em(30);

        text-align: center;

        position: relative;
        top: 35%;


        .contact-heading {
            color: $contrast-font-color;
            margin: em(15) 0 em(20) 0;

        }

        ::placeholder {
            font-size: em(16);
            font-weight: $bold;

            color: $contrast-font-color;
        }

        #name {
            font-size: em(12);


            width: 90%;
            background-color: $imput-color;

            color: $contrast-font-color;

            border: none;
            border-radius: em(6);

            padding: em(10) 0 em(10) em(20);
            margin-bottom: em(15);

            &:focus {
                outline-color: white;
                outline-width: em(2);
            }
        }

        #email {
            font-size: em(12);


            width: 90%;
            background-color: $imput-color;

            color: $contrast-font-color;

            border: none;
            border-radius: em(6);

            padding: em(10) 0 em(10) em(20);
            margin-bottom: em(15);

            &:focus {
                outline-color: white;
                outline-width: em(2);
            }
        }

        #subject {
            font-size: em(12);


            width: 90%;
            background-color: $imput-color;

            color: $contrast-font-color;

            border: none;
            border-radius: em(6);

            padding: em(10) 0 em(10) em(20);
            margin-bottom: em(15);

            &:focus {
                outline-color: white;
                outline-width: em(2);
            }
        }

        #message {
            font-size: em(12);


            width: 90%;
            background-color: $imput-color;

            color: $contrast-font-color;

            border: none;
            border-radius: em(6);

            padding: em(10) 0 em(10) em(20);
            margin-bottom: em(15);

            &:focus {
                outline-color: white;
                outline-width: em(2);
            }
        }

        .send {
            background-color: $light-purple;

            border: 3px solid white;
            border-radius: em(6);

            color: $contrast-font-color;
            font-size: em(16);
            font-weight: $bold;

            padding: em(6, 16) em(20, 16);

            &:focus,
            &:hover {
                background-color: $main-purple;
                outline: none;
            }
        }
    }

    footer {
        grid-area: footer;
        align-self: end;

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        height: 4vh;

        z-index: 10;

        background-color: $main-blue;

        position: absolute;
        bottom: 20.6%;

        .rights {
            margin-left: em(20, 10);

            color: $contrast-font-color;
            font-size: em(10);

            img {
                width: em(12);
                height: auto;
            }
        }

        .socials {
            display: flex;
            flex-flow: row nowrap;
            gap: em(15);

            margin-right: em(20);

            img {
                width: em(12);
                height: auto;
            }
        }
    }
}

@media screen and (min-width: 1194px) {
    #hire {
        background-image: url(../img/hire-bg-tablet.svg);

        .hire-form {
            width: em(450);
            margin-left: auto;
            margin-right: em(60);

            top: 12%;

            .contact-heading {
                font-size: em(40);
            }

            ::placeholder {
                font-size: em(20);
            }

            #name,
            #email,
            #subject,
            #message {
                margin-bottom: em(12);
                padding: em(15) 0 em(15) em(20);

                font-size: em(15);
            }

            .send {
                margin-bottom: em(60);
            }
        }

        .hire-heading {
            font-size: em(32);

            max-width: 40%;
            margin: 0;
            border: none;

            top: 33%;
            left: 13%;
        }

        footer {
            height: 6vh;

            .socials {
                gap: em(25);

                margin-right: em(30);

                img {
                    width: em(16);
                    height: auto;
                }
            }

            .rights {
                margin-left: em(20, 10);

                color: $contrast-font-color;
                font-size: em(12);

                img {
                    width: em(14);
                    height: auto;
                }
            }
        }

    }
}

@media screen and (min-width: 1920px) {
    #hire {
        background-image: url(../img/hire-bg-pc.svg);

        .hire-form {
            width: em(700);
            margin-left: auto;
            margin-right: em(120);

            top: 13%;

            .contact-heading {
                font-size: em(50);

                margin-bottom: em(80, 60);
            }

            ::placeholder {
                font-size: em(27);
            }

            #name,
            #email,
            #subject,
            #message {
                margin-bottom: em(20);
                padding: em(30) 0 em(30) em(30);

                font-size: em(15);
            }

            #name,
            #email {
                width: 43.2%;
            }

            #email {
                margin-left: em(20);
            }

            .send {
                margin-bottom: em(60, 25);

                font-size: em(25);

                padding: em(10, 25) em(25, 25);
            }
        }

        .hire-heading {
            font-size: em(50);

            max-width: 40%;
            margin: 0;
            border: none;

            top: 26%;
        }

        footer {
            height: 6vh;

            .socials {
                gap: em(30);

                margin-right: em(30);

                img {
                    width: em(25);
                    height: auto;
                }
            }

            .rights {
                margin-left: em(20, 15);

                color: $contrast-font-color;
                font-size: em(15);

                img {
                    width: em(16);
                    height: auto;
                }
            }
        }
    }
}