@import 'mixins';
@import 'variables';

#home {
    background-image: url(../img/home-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    position: relative;

    overflow: hidden;

    height: 100vh;

    padding: 0 em(30);

    display: grid;
    grid-template-rows: 1.7fr 2.2fr;
    grid-template-areas:
        "about-me"
        "heading";

    .content {
        grid-area: about-me;

        width: 100%;

        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        align-items: center;

        margin-bottom: em(40);

        position: absolute;
        top: 25%;
        transform: translateY(-25%);

        .name {
            color: $main-font-color;

            font-size: em(22);
            font-weight: $regular;

            margin-bottom: em(2, 22);
        }

        .my-job {
            color: $sub-font-color;

            font-size: em(13);
            font-weight: $light;
        }
    }

    .home-heading {
        grid-area: heading;

        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 5px;

        .purple-line {
            width: em(150);
            height: em(3);

            background-color: $main-purple;

            position: absolute;

            top: 30%;
            transform: translateY(-30%);
        }

        .heading {
            margin-top: em(20);

            color: $main-font-color;

            max-width: 80%;

            margin-left: auto;
            margin-right: auto;

            font-size: em(35);

            position: absolute;

            top: 35%;
            transform: translateY(-35%);
        }
    }

    .scroll-action {
        position: absolute;

        left: 50%;
        bottom: 18%;
        transform: translateX(-50%);

        .scroll-text {
            color: $contrast-font-color;

            font-size: em(18);
            font-weight: $light;

            transform: rotate(90deg);

            margin-top: em(50);
        }

        .white-line {
            width: em(1.5);
            height: em(90);

            background-color: white;

            margin-top: em(50);

            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        .scroll-circle {
            animation: circleScrollAnimMobile 1.3s infinite alternate-reverse;
        }
    }
}

@keyframes circleScrollAnimMobile {
    to {
        transform: translateY(20px);
    }
}

@media screen and (min-width: 1194px) {
    #home {
        background-image: url('../img/home-bg-tablet.svg');

        .container-home {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-evenly;
            align-items: center;
            gap: 20px;

            width: 100%;
            height: 70%;

            margin-left: auto;
            margin-right: auto;

            .content {
                position: relative;
                top: 0;

                margin: 0;
                margin-top: em(-60);

                .name {
                    color: $main-font-color;

                    font-size: em(35);
                    font-weight: $regular;

                    margin-bottom: em(5, 35);
                }

                .my-job {
                    text-align: right;
                    color: $sub-font-color;

                    font-size: em(20);
                    font-weight: $light;
                }
            }

            .home-heading {

                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: center;
                gap: 100px;

                margin: 0;
                margin-right: em(100);

                width: 100%;

                .purple-line {
                    position: relative;
                    top: 0;

                    width: em(3);
                    height: em(180);

                    margin-bottom: em(-20);
                }

                .heading {
                    text-align: left;

                    position: relative;
                    top: 0;

                    width: 100%;

                    font-size: em(50);
                }

            }
        }

        .scroll-action {
            position: absolute;

            left: 70%;
            bottom: 18%;
            transform: translateX(-70%);

            .white-line {
                opacity: 0;
            }

        }
    }
}

@media screen and (min-width: 1920px) {
    #home {
        background-image: url('../img/home-bg-pc.svg');

        .container-home {
            gap: 0px;
            margin-left: em(-30);

            .content {
                max-width: 50%;

                .name {
                    font-size: em(50);
                    font-weight: $regular;

                    margin-bottom: em(10, 45);
                }

                .my-job {
                    font-size: em(25);
                    font-weight: $light;
                }
            }

            .home-heading {
                margin-right: em(100);

                max-width: 50%;

                .purple-line {
                    position: relative;
                    top: 0;

                    width: em(5);
                    height: em(270);

                    margin-bottom: em(-20);
                }

                .heading {
                    width: 100%;

                    margin-left: em(100, 80);

                    font-size: em(80);
                }

            }
        }

        .scroll-action {
            position: absolute;

            left: 70%;
            bottom: 18%;
            transform: translateX(-70%);

            .scroll-text {
                color: $contrast-font-color;

                font-size: em(30);
                font-weight: $light;

                transform: rotate(90deg);

                margin-top: em(50);
            }

            svg {
                width: em(45);
                height: auto;
            }
        }
    }

}