// font weights

$light: 300;
$regular: 400;
$bold: 700;

//colors

$main-blue: #0054FF;
$main-purple: #6A36FE;

$light-purple: #A294FD;
$light-blue: #6598FF;

$main-font-color: #202020;
$sub-font-color: #333333;
$contrast-font-color: #ffffff;