@import 'mixins';
@import 'variables';

#work {
    background-image: url(../img/work-bg.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    height: 100vh;  
    
    position: relative;

    text-align: center;

    overflow: hidden;

    .work-container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    .work-content {
        display: flex;
        flex-flow: column nowrap;
        gap: 20px;
    }
    
    .work-heading {

        font-size: em(35);

        color: $main-font-color;

        max-width: 80%;

        margin-right: auto;
        margin-left: auto;

        position: relative;

    }

    .site-showcase {
        margin-bottom: em(150);

        display: flex;
        place-content: center;
        
        .laptop {            
            position: absolute;

        }
    }

    .show-more-button {  
        font-size: em(17);
        font-weight: $bold;
        
        justify-self: center;
        align-self: center; 
        
        margin-bottom: em(80,17);        
        padding: em(15,17) em(20,17);

        background-color: $main-blue;
        color: $contrast-font-color;

        border-radius: em(5,17);

        position: relative;

    }
}

@media screen and (min-width: 1194px) {
    #work {
        background-image: url(../img/work-bg-tablet2.svg);

        .work-container {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;

            gap: em(10);
        }

        .site-showcase {
            margin: 0;
    
            display: flex;
            
            .laptop {            
                position: relative;
                
                width: 627px;
                height: auto;
            }
        }

        .work-content {
            gap: em(20);

            .show-more-button {
                margin: 0 em(-250) em(40) 0;                
            }          
            
            .work-heading {
                font-size: em(50);
                text-align: right;
            }
        }
    }
}