@import 'menu';
@import 'home';
@import 'work';
@import 'about';
@import 'hire';

@import 'mixins';
@import 'variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {    
    background-color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: $main-purple;
    border: 1px solid white;
    
}

.fp-responsive #about,
.fp-responsive #work .fp-slide,
.fp-responsive #home .fp-tableCell{
    height: auto !important;
}